# PlatformIO
.pio/
.piolibdeps/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
#!.vscode/launch.json

# Compiled files
*.o
*.obj
*.elf
*.bin
*.hex
*.map

# Logs
*.log

# Python
__pycache__/
*.py[cod]

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db
Desktop.ini

# Vim
*.swp
*.swo

# JetBrains IDEs
.idea/

# CMake (if used)
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt